
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Orders system</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_superhero.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Orders system</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <i>Table section: </i>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/Orders/Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/Clients/Index">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/Shops/Index">Shops</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/Couriers/Index">Couriers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/Products/Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/ProductOrderPairs/Index">Product-order pairs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/FamilyCards/Index">Family cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/Towns/Index">Towns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/Streets/Index">Streets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/Adresses/Index">Adresses</a>
                        </li>
                        <li class="nav-item">
                            <i>Control section: </i>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/Users/Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44332/Queries/Index">Queries</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OrdersSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
