@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><a href="https://localhost:44332/Orders/Index">Orders</a></h1>
    <h1><a href="https://localhost:44332/Client/Index">Clients</a></h1>
    <h1><a href="https://localhost:44332/Shops/Index">Shops</a></h1>
    <h1><a href="https://localhost:44332/Couriers/Index">Couriers</a></h1>
    <h1><a href="https://localhost:44332/Products/Index">Products</a></h1>
    <h1><a href="https://localhost:44332/ProductOrderPairs/Index">Product-order pairs</a></h1>
    <h1><a href="https://localhost:44332/FamilyCards/Index">Family cards</a></h1>
    <h1><a href="https://localhost:44332/Towns/Index">Towns</a></h1>
    <h1><a href="https://localhost:44332/Streets/Index">Streets</a></h1>
    <h1><a href="https://localhost:44332/Adresses/Index">Adresses</a></h1>
</div>
